<%- include("header.ejs", {title:"About"})%>



<div>
Some sort of web site to list matches played in some dumb online game<br/>
<br>

Entitiy Relationship:<br>
<img src="er.png"><br><br>

Relational Schema: <br>
<img src="schema.png"><br>
</div>


<%- include("footer.ejs") %>