<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

  <h1><%= title %></h1>

  <a href="/">Latest Matches</a> -
  <a href="/about">About</a>

<hr><br>