<%- include("header.ejs", {title:"Match List"})%>

<div class="setlist">
    <a href="set/add">add set</a>
    <% for(var s = 0; s < sets.length; s++) { %>
    <div class="set">
      <div <% if (sets[s].winner == 1) { %> class="matchwinner" <% } else { %> class="matchloser" <% } %>><strong><%= sets[s].team1_name %></strong></div>
      <div <% if (sets[s].winner == 2) { %> class="matchwinner" <% } else { %> class="matchloser" <% } %>><strong><%= sets[s].team2_name %></strong></div>

      <% for (var m = 0; m < sets[s].matches.length; m++) { %>
        <div class="match">
          <div class="<% if (sets[s].matches[m].winner == 1) {%>winherolist<% } else { %>loseherolist<% } %>">
            <% for (var p = 0; p < sets[s].matches[m].team1_picks.length; p++) { %>
              <%= sets[s].matches[m].team1_picks[p] %> <br>
            <% } %>
          </div>
          <div class="<% if (sets[s].matches[m].winner == 2) {%>winherolist<% } else { %>loseherolist<% } %>">
            <% for (var p = 0; p < sets[s].matches[m].team2_picks.length; p++) { %>
              <%= sets[s].matches[m].team2_picks[p] %> <br>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
    <% } %>
</div>

<%- include("footer.ejs") %>
