<!DOCTYPE html>
<html>
<head>
    <title>Add Match</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (locals.saved) { %>
    <div class="saved">
      Saved!
    </div>
    Add another game to the set or <a href="/">go back to main page</a>.<br><br>
  <% } %>

  <form action="/set/match/insert", method="get">

  <input type="hidden" name="set_id" value="<%= set %>">
  <input type="hidden" name="tournament" value="<%= tournament %>">
  <input type="hidden" name="tournament_name" value="<%= tournament_name %>">
  <input type="hidden" name="team1id" value="<%= team1id %>">
  <input type="hidden" name="team2id" value="<%= team2id %>">
  <input type="hidden" name="team1name" value="<%= team1name %>">
  <input type="hidden" name="team2name" value="<%= team2name %>">
  Tournament: <%= tournament_name %> <br> <br>
  Team 1: <%= team1name %> <br>
  <% for(var i = 0; i < 5; i++) { %>
    <select name="team1hero<%=i+1%>">
      <% for(var h = 0; h < herolist.length; h++) { %>
        <option><%= herolist[h] %></option>
      <% } %>
    </select>
    <br>
  <% } %>

  <br>
  Team 2: <%= team2name %> <br>
  <% for(var i = 0; i < 5; i++) { %>
    <select name="team2hero<%=i+1%>">
      <% for(var h = 0; h < herolist.length; h++) { %>
        <option><%= herolist[h] %></option>
      <% } %>
    </select>
    <br>
  <% } %>

  <br>
  Winner: <br>
  <input type="radio" name="winner" value="1"> <%= team1name %> <br>
  <input type="radio" name="winner" value="2"> <%= team2name %>





  <br>
  <br>
  <br>
  <input type="submit">

  </form>
</body>
</html>
