<!DOCTYPE html>
<html>
<head>
    <title>Add Set</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/set/add/match", method="get">
  Tournament:
  <select name="tournament">
      <% for (var i = 0; i < tournament.length; i++) { %>
      <option value="<%= tournament[i].tournament_id %>"><%= tournament[i].tournament_name %></option>
      <% } %>
  </select>
  <br>
    
  Team 1:
  <select name="team1">
      <% for (var i = 0; i < teams.length; i++) { %>
      <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
      <% } %>
  </select>
  <br>
  Team 2:
  <select name="team2">
      <% for (var i = 0; i < teams.length; i++) { %>
      <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
      <% } %>
  </select>

  <br>
  <br>
  <br>
  <input type="submit">

  </form>
</body>
</html>
