body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.saved {
    background-color: green;
    font-size: 24px;
}

div.setlist {

}

div.set {
  background-color: bisque;
  width: 400px;

  border: 2px solid black;
  overflow: hidden;
  margin-bottom: 10px;
}

div.matchwinner {
  background-color: seagreen;
  float:left;
  display: inline-block;
  width: 200px;
}

div.matchloser {
  float:left;
  display: inline-block;
  width: 200px;
}

div.match {
  border: 1px solid black;
  clear:both;
  overflow: hidden;
  margin-bottom: 10px;
}

div.winherolist {
  background-color: lightgreen;
  float: left;
  display: inline-block;
  width: 198px;
}

div.loseherolist {
  float: left;
  display: inline-block;
  width: 198px;
}
